// Palette

$primary-red: #db0011;
$dark-red: #87000a;
$white: #ffffff;
$pearl: #ededed;
$silver: #d7d8d6;
$graphite: #404040;
$black: #000000;
$light-slate: #4d6474;
$slate: #3e505d;
$dark-slate: #253038;
$primary-red-white30: #e54d58;
$primary-red-black20: #af000d;
$dark-red-white10: #8f1a22;
$dark-red-black15: #6f0008;
$jade: #008580;
$jade-white15: #269792;
$jade-black15: #00716c;
$dark-jade: #005e59;
$dark-jade-white15: #267571;
$dark-jade-black15: #004f4b;
$gold: #e9a115;
$gold-white20: #edb343;
$white-black15: #d9d9d9;
$pearl-white90: #fdfdfd;
$pearl-black15: #c9c9c9;
$silver-white40: #e7e7e6;
$silver-black15: #b6b7b6;
$pewter: #929292;
$pewter-white20: #a7a7a7;
$pewter-black15: #7c7c7c;
$graphite-white15: #5c5c5c;
$graphite-black20: #333333;
$light-slate-white15: #677b88;
$light-slate-black20: #415562;
$slate-white15: #5a6a75;
$slate-black20: #31404a;
$dark-slate-white15: #454e55;
$dark-slate-black20: #1d262c;
$antique-gold: #ba8111;
$antique-gold-white5: #bd871d;
$antique-gold-black15: #9e6d0e;
$violet: #4e3a7c;
$violet-white20: #716196;
$violet-black15: #423169;
$indigo: #262362;
$indigo-white15: #464379;
$indigo-black25: #1c1a49;
$sapphire: #376798;
$sapphire-white15: #547da7;
$sapphire-black12: #305a85;
$dark-sapphire: #003466;
$dark-sapphire-white10: #1a4875;
$emerald: #387522;
$emerald-white15: #588942;
$emerald-black18: #305f1b;
$dark-emerald: #1b3e02;
$dark-emerald-white10: #32511b;
$dark-emerald-black25: #142e01;
$ocher: #d19012;
$navy-blue: #002951;

// Bulma overrides

$body-background: $slate-black20;
$background:  $dark-slate;
$text: $white;
$text-light: $text;
$text-strong: $text;

$primary: $primary-red;
$info: $jade;
$success: $emerald-white15;
$warning: $gold-white20;
$danger: $primary-red-white30;

$link: $info;
$border: $light-slate;
